// 定义常用颜色变量表
$maxWidth:1800px;
$mbgc: red; //主题背景色

// 默认主题
$theme-default: (
  // 默认背景颜色
  background: #fff,
  // 默认边框阴影颜色
  shadow-color: rgba(200, 218, 255, 0.5),
  // 底衬色
  foil-bg: #efefef,
  // 默认字体颜色
  font-color: #000,
  // 默认字体大小
  font-size: 14px,
  // 导航栏字体颜色
  nav-font-color: #303c4f,
  // 导航栏字体大小
  nav-font-size: 16px,
  // 导航栏字体小号
  nav-font-size-small: 14px,
  // 导航栏阴影
  nav-shadow-color: rgba(191, 191, 191, 0.5)
);

// 暗夜模式
$theme-night: (
  // font-color: #fff,
  // font-size: 14px,
  // background: rgb(102, 98, 98),
  // 默认背景颜色
  background: rgb(102, 98, 98),
  // 底衬色
  foil-bg: rgb(201, 198, 207),
  // 默认字体颜色
  font-color: rgba(216, 230, 221, 0.527),
  // 默认字体大小
  font-size: 14px,
  // 导航栏字体颜色
  nav-font-color: #d3d9e4,
  // 导航栏字体大小
  nav-font-size: 16px,
  // 导航栏字体小号
  nav-font-size-small: 14px,
  // 导航栏阴影
  nav-shadow-color: rgba(191, 191, 191, 0.5)
);
